






<form action="/process-login" method="POST">

<div class="wrapper">
        <div class="logo">
           
        </div>
        <div class="text-center mt-4 name">
            86 COCKTAILS
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                  <input type="email" name="email" class="form-control" id="floatingPassword" placeholder="name@example.com" required />
    </label>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button type="submit" class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div>
    </div>



   

{{#if errorMessage}}
    <p><b> {{ errorMessage }} </b></p>
{{/if}}