<header>


     <div
    class=" bg-image"
    style="
      background-image: url('https://media.istockphoto.com/photos/set-of-summer-alcoholic-cocktails-popular-bright-refreshing-colorful-picture-id1311102320?b=1&k=20&m=1311102320&s=612x612&w=0&h=kRGN_EilNXWplb-sl1Ms9yHUfbK6XRJnA86pyEskW6w=');
      height: 770px;
  
     background-repeat: no-repeat;
  background-size: 100% 100%;
     
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3"> EIGHTY-SIX-COCLTAILS🍸</h1>
          <h4 class="mb-3">Click here to start</h4>
          <a class="btn btn-outline-light btn-lg" href="/cocktails-list" role="button"
          > Cocktails</a
          >
        </div>
      </div>
    </div>
  </div>


</header>
<div>   
<footer>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-footer">

    <hr>
        <div class="text-center center-block">
            <p class="txt-railway">- EIGHTY-SIX-COCLTAILS -</p>
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
    <hr>
</div>

<br />
</footer>
</div>