<h1> Cocktails </h1>
<div class="bg-image" 
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">

<div class="container">
<div class="row justify-content-space">
     
{{#each cocktailfromDB}}

<div class="col">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
           <div class="card-header"> {{title}}</div>
        <div class="card-body">
          <h5 class="card-title"> <button  class="btn btn-dark"> <a href="/cocktails-edits/{{_id}}/edit"> Edit!</a></button></h5>
          <p class="card-text"></p>
        </div>
       </div>
</div>


 {{/each}}

  </div>
 </div>
</div>
