<h1> Cocktails </h1>

{{#each cocktailfromDB}}
<div class="container-edit">
  <ul class="list-group-edit">
    <li class="list-group-item-2 clearfix">
      <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt=""/>
      <h3 class="list-group-item-heading">
        {{title}}
        <span class="label label-danger pull-right"></span>
      </h3>
     
        <button  class="btn btn-dark"> <a href="/cocktails-edits/{{_id}}/edit"> details-list!</a></button>
        <br />
       
      </p>
    
</li>
  </ul>
</div>

    {{/each}}